{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Recipe Details</title>
		<link rel="shortcut icon" href="static/recipes/images/favicon.ico" sizes="32x32">
		<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap"  rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css'%}">
	</head>

  <header class="page-header">
		<nav class="main-navigation">
			<ul role="menubar" class="navigation-list">
				<li role="presentation" class="nav-list__item">
					<a href="{%url 'recipes:home' %}"role="menuitem"><img class="fork-spoon" src="../static/recipes/images/fork-spoon.png"></a>
				</li>
				<li role="presentation" class="nav-list__item item-2">
					<a href="{%url 'recipes:list' %}" role="menuitem">Recipes</a>
				</li>
        <li role="presentation" class="nav-list__item nav-search">
					<a href="{%url 'recipes:search' %}" role="menuitem">Search</a>
				</li>
				<li role="presentation" class="nav-list__item nav-add">
					<a href="{%url 'recipes:add_recipe' %}" role="menuitem">Add Recipes</a>
				</li>
        <li role="presentation" class="nav-list__item">
					<a href="{%url 'logout' %}" role="menuitem">Logout</a>
				</li>
			</ul>
		</nav>
    <hr>
  </header>
  <body class="detail-body">
		<div class="beige-background">
    <h2>{{object.name}}</h2>
      <div class="detail-info">

        <img class="detail-img" src="{{object.pic.url}}" width="200" height="200" />

        <div class="detail-desc">
          <b>Cooking Time: </b> {{object.cooking_time}} minutes<br>
          <br>
          <b>Difficulty: </b> {{object.calculate_difficulty}} <br>
          <br>
          <b>Ingredients: </b> {{object.ingredients}} <br>
          <br>
          <b>Description: </b> {{object.description | linebreaks}} <br>
        </div>
      </div>
			</div>
  </body>

</html>
