{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Recipe Home</title>
		<link rel="shortcut icon" href="static/recipes/images/favicon.ico" sizes="32x32">
		<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/recipes/css/styles.css">
	</head>

  <header class="page-header">
		<nav class="main-navigation">
			<ul role="menubar" class="navigation-list">
				<li role="presentation" class="nav-list__item">
					<a href="{%url 'recipes:home' %}"role="menuitem"><img class="fork-spoon" src="static/recipes/images/fork-spoon.png"></a>
				</li>

				<li role="presentation" class="nav-list__item">
					<a href="{%url 'login' %}" role="menuitem">Login</a>
				</li>
			</ul>
		</nav>
		<hr>
  </header>
  <body>
		<div class="container">
		<div class="home-img" style="background-image: url('static/recipes/images/home-drawing.jpg')">
			<p class="eat">Let's Eat!</p>
		</div>
		</div>
	</body>
  <footer>
		<a class="img-credit" href="https://www.freepik.com/free-vector/abstract-hand-drawn-recipes-youtube-channel-art_13109020.htm#page=2&query=food&position=4&from_view=search&track=sph">Freepik</a>
  </footer>
</html>
