{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Recipe Details</title>
		<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap"  rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'recipes/css/styles.css'%}">
	</head>

  <header class="page-header">
		<nav class="main-navigation">
			<ul role="menubar" class="navigation-list">
				<li role="presentation" class="nav-list__item">
					<a href="{%url 'recipes:home' %}"role="menuitem">Let's Eat!</a>
				</li>
				<li role="presentation" class="nav-list__item item-2">
					<a href="{%url 'recipes:list' %}" role="menuitem">Recipes</a>
				</li>
        <li role="presentation" class="nav-list__item">
					<a href="{%url 'logout' %}" role="menuitem">Logout</a>
				</li>
			</ul>
		</nav>
    <hr>
  </header>

  <body>
    <h1>Search for Recipes</h1>

    <form action="" method="POST">
      {% csrf_token %}
      {{recipe_form}}
      <button type="submit">search</button>
    </form>

		<br>

		{% if recipe_df %}
			{{recipe_df | safe}}
			<br>
			<img src="data:image/png;base64, {{chart | safe}}">
		{% elif all_df %}
			{{all_df | safe}}
		{% else %}
   		<h3> no data</h3>
		{% endif %}

  </body>

</html>
